*{
    font-family: Gill sans, sans-serif;
}
body{

    min-height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background: #f0faff;
 }
.wrapper{
    position: relative;
    max-width: 470px;
    width: 80%;
    border-radius: 12px;
    padding: 20px 30px 12px;
    background-color: rgb(19, 26, 75);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.wrapper form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;

}

.form header{
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

form input {
    height: 30px;
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    border-radius: 8px;
    background: #fff;
} 

form .checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox input[type="checkbox"]{
    height: 16px;
    width: 16px;
    accent-color: #fff;
    cursor: pointer;
}
form .checkbox label{
    cursor: pointer;
    color: white;
}

form input[type="submit"]{
    padding: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background-color: rgb(255, 251, 0);
    margin-bottom: 20px;
}
form a{
    text-decoration: none;
    color: white;
}
form p{
    color: white;
}


